/* styles for aboutMe class div */

.aboutMe {
    display:flex;
        /* hearty: set display to flex so gojo and ur bio are aligned */
    text-align: left;
    padding-top: 10%;
}

.aboutMe img {
    height: 350px;
    border-radius: 61px;
    box-shadow: 15px 10px 62px 0px rgb(56, 56, 56);
}

.image-container{
    margin-left:100px;
}

.aboutMe h1 {
    color: white;
    font-style: bold;
    font-size: 90px;
    padding-bottom: 3%;
}

.aboutMe p {
    font-size: 20px;
    padding-right: 15%;
    padding-bottom: 3%;
}

/* since i removed flex-container in html i commented these out */

.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-container img {
    padding-top: 5%;
    padding-left: 2%;
}

.about-me-text {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
}