* {
    margin: 0%;
}

html {
    background-color: black;
    background-image: radial-gradient(circle at 80% 50%, blue);
}

/* custom fonts */

@font-face {
    font-family: 'LeagueSpartan';
    src: url(League_Spartan/LeagueSpartan.ttf);
}

/* base styles for h1 and p */
h1 {
    color: white;
    font-family: 'LeagueSpartan';
    font-style: bold;
    font-size: 60px;
}

p {
    font-family: 'LeagueSpartan';
    font-size: 25px;
    color: white;
}