* {
    margin: 0%;
    padding: 0%;
}

/* custom fonts */

@font-face {
    font-family: 'LeagueSpartan';
    src: url(League_Spartan/LeagueSpartan.ttf);
}

/* Transition styles when each page loads */
body {
    opacity: 1;
    transition-duration: 0.7s;
    transition-property: opacity;
}

body.fade {
    opacity: 0;
}

html {
    background-color: black;
    scroll-behavior: smooth;
}

/* base styles for h1 and p */
h1 {
    color: white;
    font-family: 'LeagueSpartan';
    font-style: bold;
    font-size: 90px;
}

h2 {
    color: white;
    font-family: 'LeagueSpartan';
    font-style: bold;
    font-size: 60px;
}

h3 {
    color: white;
    font-family: 'LeagueSpartan';
    font-style: bold;
    font-size: 30px;
}

p {
    font-family: 'LeagueSpartan';
    font-size: 25px;
    color: white;
}