html {
    background-color: black;
   /*  background-image: url('waves.gif'); 
    background-size: cover;  */
}

/* custom fonts */

@font-face {
    font-family: 'LeagueSpartan';
    src: url(League_Spartan/LeagueSpartan.ttf);
}

/* base styles for h1 and p */
h1 {
    color: white;
    font-family: 'LeagueSpartan', sans-serif;
    font-style: bold;
    font-size: 60px;
}

p {
    font-family: 'LeagueSpartan';
    font-size: 25px;
    color: white;
}

/* overriding styles for h1 and p */
    /* styles for intro class div */
.intro-container{
    max-height: 100% !important;
    padding: 50px 0px;
    background-color: blue;
}

#intro {
    margin-left: 15%;
    margin-bottom: 15%;
}

#intro h1 {
    font-size: 90px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
}

#intro p {
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

    /* styles for aboutMe class div */
.aboutMe {
    text-align: left;
    margin-top: 20%;
}

.aboutMe img {
    height: 350px;
}

.aboutMe h1 {
    color: white;
    font-style: bold;
}

.aboutMe p {
    font-size: 20px;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-container img {
    margin-top: 5%;
    margin-left: 2%;
}

.about-me-text {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}