/* styles for aboutMe class div */

.about-me {
    display:flex;
    text-align: left;
    padding-top: 5%;
}

.about-me img {
    height: 350px;
    border-radius: 40px;
    box-shadow: 15px 10px 62px 0px rgb(56, 56, 56);
}

.image-container{
    margin-left: 10%;
}

.about-me h1 {
    color: white;
    font-style: bold;
    padding-bottom: 3%;
}

.about-me p {
    font-size: 20px;
    padding-right: 15%;
    padding-bottom: 3%;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-container img {
    padding-top: 5%;
    padding-left: 2%;
}

.about-me-text {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
}