/* background styles */
html {
    height: 100%;
    width: 100%;
    background-image: url("../Images/blueGradientCircle.png"), 
                      url("../Images/redGradientCircle.png"), 
                      url("../Images/yellowGradientCircle.png");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: left top, right center, bottom center;
}

/* styles for aboutMe class div */
.about-me {
    display:flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
    padding-top: 7%;
}

.about-me img {
    height: 400px;
}

.image-container {
    margin-left: 15%;
    justify-content: baseline;
}

.image-container img {
    border-radius: 10%;
    box-shadow: 15px 10px 62px 0px rgb(56, 56, 56);
}

.about-me-text {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    margin-right: 10%;
}

.about-me-text h1 {
    color: white;
    font-style: bold;
    padding-bottom: 3%;
}

.about-me-text p {
    font-size: 20px;
    padding-right: 15%;
    padding-bottom: 3%;
}

.logos {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about-me-text img {
    height: 52px;
}

.logos #github {
    height: 47px;
}

.logos #email {
    height: 39px;
}